.check-box {
    -fx-padding: 5 0 5 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: -fx-color-text;
    /* GitHub text color */
    -fx-font-size: 13px;
}

.check-box .box {
    -fx-background-color: -fx-color-background-secondary;
    -fx-border-color: -fx-color-border;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-border-width: 1;
    -fx-padding: 0;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}

.check-box:hover .box {
    -fx-border-color: -fx-color-accent-1;
    /* GitHub blue on hover */
    -fx-cursor: hand;
}

.check-box:selected .box {
    -fx-background-color: -fx-color-accent-1;
    /* GitHub blue */
    -fx-border-color: -fx-color-accent-1;
}

.check-box .mark {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}

.check-box:selected .mark {
    -fx-padding: 3;
    -fx-opacity: 1;
    -fx-background-color: -fx-color-background-secondary;
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
}