.notification {
    -fx-padding: 12 12 12 12;
    -fx-background-color: -fx-color-background;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0.0, 0, 4);
    -fx-spacing: 6px;
    -fx-border-color: -fx-color-border;
    -fx-border-width: 1px;
}

.notification.success {
    -fx-border-color: -fx-color-accent-positive;
}

.notification.error {
    -fx-border-color: -fx-color-accent-negative;
}

.notification.confirmation {
    -fx-border-color: -fx-color-accent-1;
}

.notification .title {
    -fx-font-size: 14px;
    -fx-font-weight: 700;
    -fx-text-fill: -fx-color-text;
}

.notification .text {
    -fx-font-size: 13px;
    -fx-text-fill: -fx-color-text-secondary;
}