.panel {
    -fx-padding: 32px 32px 32px 32px;
    -fx-background-color: -fx-color-background-secondary;
    -fx-border-color: -fx-color-border;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

.cheese-wheel-panel {
    -fx-padding: 8px 8px 8px 8px;
}