@import "_container.css";
@import "_button.css";
@import "_tab.css";
@import "_breadcrumb.css";
@import "_table.css";
@import "_input.css";
@import "_datepicker.css";
@import "_checkbox.css";
@import "_notification.css";
@import "_choicebox.css";
@import "_link.css";
@import "_radiobutton.css";
@import "_text.css";
@import "_togglebutton.css";
@import "_robot.css";
@import "_panel.css";
@import "_cheese_grid.css";

.root {

    -fx-color-accent-1: #0969da;
    -fx-color-accent-2: #ffffff;
    -fx-color-accent-1-hover: #0a66c2;
    -fx-color-accent-1-pressed: #054da7;
    -fx-color-accent-positive: #2da44e;
    -fx-color-accent-positive-hover: #2c974b;
    -fx-color-accent-positive-pressed: #1a7f37;
    -fx-color-accent-negative: #cf222e;
    -fx-color-accent-negative-hover: #a40e26;
    -fx-color-accent-negative-pressed: #82071e;

}